@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;

  --clr-body-primary: white;

  --clr-text-primary: black;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  /* color: rgb(var(--foreground-rgb));
  background: linear-gradient(flex flex-col items-center gap-4
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb)); */
    @apply 
    w-screen h-screen 
    bg-[--clr-body-primary] 
    text-[--clr-text-primary]
    flex flex-col 
    items-center 
    justify-between
    
}

main {
  @apply
    w-full h-full
   
}

main#app {
  @apply
    w-[80vw]
}
